@import "tailwindcss";

@theme {
  --color-carbon-black: #050505;
}

:root {
  background-color: var(--color-carbon-black);
  color: #ededed;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

/* Grayscale Minimalist Glassmorphism */
.glass-panel {
  background: rgba(10, 10, 10, 0.5);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 40px 60px -15px rgba(0, 0, 0, 0.9);
}

.glass-panel:hover {
  border-color: rgba(255, 255, 255, 0.15);
}

.sub-panel {
  background: rgba(25, 25, 25, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.04);
}

/* Thin Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

/* Precise Loader Animation */
@keyframes dash {
  0% { transform: scaleX(0); transform-origin: left; }
  50% { transform: scaleX(1); transform-origin: left; }
  50.1% { transform: scaleX(1); transform-origin: right; }
  100% { transform: scaleX(0); transform-origin: right; }
}

.animate-loader {
  animation: dash 2s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}

* {
  box-sizing: border-box;
}
